doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title EPIC Spring 2016 Application
    meta(name='description', content='Apply to EPIC Spring 2016')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  mixin essayQuestion(id, header, label)
    .primary-window.page
      i.back-btn Back
      .forcefield
        h2= header
        .input-group
          textarea(id=id, required, name!=attributes.name)
          label= label
      if block
        block

  body
    #formula-container

      .mobile-warning
        p Hey! It looks like you're using a mobile phone, which is awesome.
        p But we spent a lot of time making this application look juuuust right for desktop, and it'll probably be a little squishy on your phone.
        p (But it should still work!)
        p If that's OK with you, you really want the squishy, less exciting version, then&nbsp;
          a(href='#', do='close-warning') tap here
          | .
        p Otherwise, come back on your computer later, ok? ;)

      iframe(name='dupe-frame')
      
      .formula
        .header
        .next-btn
          .inner-btn
            span Next
  
        form
          .primary-window.page.current
            .forcefield
              h2 Welcome to the EPIC 2016 Spring Application!
              .input-group
                input#name(type='text', required)
                label Name (First and Last)
                .glance
              
              .input-group
                input#email(type='text', required)
                label School Email
                .glance
                .pill-right
                  span .edu
              
              .input-group
                input#year(type='text', required)
                label Year (e.g.; 2017)
                .glance
              
              .input-group  
                input#major(type='text', required)
                label Major
                .glance
              
              .input-group
                input#phone(type='tel', required)
                label Phone Number
                .glance

          .primary-window.page
            i.back-btn Back
            .forcefield
              h2 Where do you see yourself in EPIC?
              .input-group
                input(type='radio', name='track', value='EPIC Teams', required)
                label EPIC Teams
                
                input(type='radio', name='track', value='EPIC General Membership', required)
                label EPIC General Membership

          .primary-window.page#branch-1
            i.back-btn Back
            .forcefield
              h2 EPIC General Membership Application
              .input-group
                textarea#what-do-you-want(required)
                label What do you want to get out of your membership?

            .thanks
              h3 Thanks for joining! We look forward to spending time with you.
              img(src="./images/epic-logo.png")

          .primary-window.page#branch-2
            i.back-btn Back
            .forcefield
              h2 EPIC Team Application
              h3 I want to...
              .input-group.checkboxes
                input#run-hackathon(type='checkbox', required)
                label Run a hackathon (WildHacks)
                
                input#run-business-pitch-competition(type='checkbox', required)
                label Run a Business Pitch Competition (NUVC)
                
                input#code(type='checkbox', required)
                label Code (Tech)
                
                input#build-brand(type='checkbox', required)
                label Build a Brand (Branding)
                
                input#teach-entrepreneurship(type='checkbox', required)
                label Teach Entrepreneurship (Launch)
                
                input#inspire-entrepreneurs(type='checkbox', required)
                label Inspire Budding Entrepreneurs (Venture)
                
                input#expand-epic-reach(type='checkbox', required)
                label Expand EPIC's Reach (BizDev)

          +essayQuestion('story', "What's your story? Tell us about yourself.", 'ex: what are you passionate about? What was your journey to NU?')
          +essayQuestion('why-interested', 'Why are you interested in joining EPIC?', 'What do you hope to learn? What skills do you hope to gain?')
          +essayQuestion('why-passionate-entrep', 'Why are you passionate about entrepreneurship?', 'Feel free to tell us about any entrepreneurial experience you have.')
          +essayQuestion('how-contribute', 'What will you contribute to the specific team you are interested in?', 'How do you see yourself fitting in?')
          +essayQuestion('other-involvements', 'What else are you involved in?', 'ex: Work-Study, other student orgs, study abroad, etc.')
          +essayQuestion('anything-else', 'Anything else you would like us to consider?', 'ex: share a fun fact!')
            .thanks
              h3 Thanks for applying! We'll be in touch.
              img(src="./images/epic-logo.png")

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43952603-6', 'auto');
      ga('send', 'pageview');

    // begin olark code
    script(data-cfasync='false').
      /*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
      f[z]=function(){
      (a.s=a.s||[]).push(arguments)};var a=f[z]._={
      },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
      f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
      0:+new Date};a.P=function(u){
      a.p[u]=new Date-a.p[0]};function s(){
      a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
      hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
      return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
      b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
      b.contentWindow[g].open()}catch(w){
      c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
      var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
      b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
      loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('2927-692-10-4152');/*]]>*/
  
    noscript
      a(href="https://www.olark.com/site/2927-692-10-4152/contact", title="Contact us", target="_blank") Questions? Feedback?
      | powered by
      a(href="http://www.olark.com?welcome", title="Olark live chat software") Olark live chat software
    // end olark code

    // build:js scripts/vendor.js
    // bower:js
    script(type='text/javascript', src='bower_components/store/dist/store2.min.js')
    // endbower
    // endbuild

    script(type="text/javascript", src="//api.filepicker.io/v1/filepicker.js" async)

    // build:js scripts/main.js
    script(src='scripts/extensions.js' async)
    script(src='scripts/formula_anim.js' async)
    script(src='scripts/formula_notify.js' async)
    script(src='scripts/formula_cache.js' async)
    script(src='scripts/formula_validator.js' async)
    script(src='scripts/formula_submitter.js' async)
    script(src='scripts/main.js' async)
    // endbuild
